body {
    background-color: #BFBFBF;
    font-family: 'Oxygen', sans-serif;
}

#container {
    background-color: #BCD97E;
    width: 1200px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #404040;
}

header {
    padding: 20px 0;
    background-color: #678C61;
    border-radius: 20px 20px 0 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-shadow: 2px 2px 2px #404040;
}

header img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

header h1 {
    font-size: 36px;
    text-align: center;
    color: #A8BF75;
}

nav {
    background-color: #BCD97E;
    padding-top: 5px;
    text-align: center;
}
nav a {
    display: inline-block;
    background-color: #678C61;
    height: 35px;
    width: 150px;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
    color: #A8BF75; 
    text-decoration: none;
    border-radius: 15px 15px 0 0;
    margin: 0 5px;
}

nav a:hover {
    background-color: #A8BF75;
    color: #678C61;
}

main {
    background-color: #678C61;
    padding: 20px;
    margin: 0 20px 20px 20px;
}  

main h2{
    text-align: center;
    color: #A8BF75;
    font-size: 18px;
}
main img {
    display: block;
    width: 40%;
    margin: 15px auto;
    background-color: #BFBFBF;
    padding: 15px;
    border-radius: 15px;
}
footer {
    background-color: #678C61;
    padding: 30px 0;
    color: #A8BF75;
    font-size: 16px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.active {
    background-color: #A8BF75;
    color: #678C61; 
}

.pro_head {
    text-align: center;
    color: #BCD97E;
    font: 18px;
}